<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Logan Daniels</string>
	<key>Builder Version</key>
	<string>11601.5.17.1</string>
	<key>CFBundleDisplayName</key>
	<string>Emoji Tab Icons</string>
	<key>CFBundleIdentifier</key>
	<string>com.logandaniels.emoji-tab-icons</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>main.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Add emoji to tab titles to easily identify what websites you have open.</string>
	<key>DeveloperIdentifier</key>
	<string>ZR23WUKXP7</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://github.com/logandaniels/emoji-tab-icons/raw/v1/UpdateManifest.plist</string>
	<key>Website</key>
	<string>https://github.com/logandaniels/emoji-tab-icons</string>
</dict>
</plist>
